ARBUZAS_TZ=Europe/Riga
ARBUZAS_DOH_IDENTITY_WEB_COMPACTION_ENABLED=1
ARBUZAS_DOH_IDENTITY_WEB_COMPACTION_WEEKDAY=1
ARBUZAS_DOH_IDENTITY_WEB_COMPACTION_TIME=04:00

ARBUZAS_TRAIN_BOT_PORT=9317
ARBUZAS_SATIKSME_BOT_PORT=9318
ARBUZAS_SUBSCRIPTION_BOT_PORT=9320
ARBUZAS_TICKET_REMOTE_PORT=9338
ARBUZAS_TICKET_PHONE_ADB_TARGET=100.76.50.43:5555
ARBUZAS_DNS_HTTPS_PORT=443
ARBUZAS_DNS_DOT_PORT=853
ARBUZAS_DNS_CONTROLPLANE_PORT=8097
ARBUZAS_DNS_ADMIN_LAN_IP=192.168.1.10

ARBUZAS_TRAIN_BOT_HOSTNAME=train-bot.jolkins.id.lv
ARBUZAS_SATIKSME_BOT_HOSTNAME=kontrole.info
ARBUZAS_SUBSCRIPTION_BOT_HOSTNAME=farel-subscription-bot.jolkins.id.lv
ARBUZAS_TICKET_REMOTE_HOSTNAME=ticket.jolkins.id.lv
ARBUZAS_DNS_HOSTNAME=dns.jolkins.id.lv
ARBUZAS_DOCKER_PLATFORM=linux/amd64

ARBUZAS_PORTAINER_IMAGE=portainer/portainer-ce:lts
ARBUZAS_CLOUDFLARED_IMAGE=cloudflare/cloudflared:latest
